{% extends 'back-office.html.twig' %}

{% block title %}Produit {% endblock %}

{% block body %}
    <h1 class="mt-5">Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Couleur</th>
                <th>Taille</th>
                <th>Collection</th>
                <th>Photo</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Date_enregistrement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.titre }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.couleur }}</td>
                <td>{{ produit.taille }}</td>
                <td>{{ produit.collection }}</td>
                <td><img src="/upload/{{produit.photo}}" alt="" width="150"></td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.dateEnregistrement ? produit.dateEnregistrement|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}"><svg width=15 height=15 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z"/></svg></a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}"><svg width=15 height=15 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"/></svg></a>
                    {{ include('produit/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun produit crée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_produit_new') }}">Créer</a>
{% endblock %}
